/* .body{
    margin: 0;
    padding: 0;
    height: 170vh;
    width: 2000vh;
  background-image: url('../../../Imagenes/pexels-jakub-novacek-924824.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} */


.container{
    padding: 0.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    border-radius: 2rem;
    box-shadow: 0 0 0.2rem #FFD700, 0 0 0.2rem #FFD700, 0 0 2rem #FFD700;
    display: flex;
    align-items: center;
    color: #fff;
    top: 15%;
    right: 0%;
}

.detail {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.detail div{
    width: fit-content;
    margin-top: 0;
    margin-left: 1rem;
    margin-left: 1rem;
    padding-right: 8rem;
}

.container div h1{
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-top: none;
    min-width: 100vw;
    display: flex;
    justify-content: space-around;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 0.2rem #B8860B, 0 0 0.1rem #B8860B , 0 0 1rem #B8860B;
}

.container div p{
    width: fit-content;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color: black;
    text-shadow: 0 0 0.2rem #B8860B, 0 0 0.1rem #B8860B, 0 0 1rem #B8860B;
    border-radius: 0.3rem;
    font-family: 'Rubik Glitch', cursive;
}

.container div p{
    width: fit-content;
    color: black;
    font-family: 'Encode Sans', sans-serif;
    margin-left: 9rem;
    margin-bottom: 1.5rem;
}

.containerImg{
    display: flex;
    justify-content: center;
}
.container div img{
    margin-bottom: 1rem;
    width: 25rem;
    height: 25rem;
    border-radius: 9999rem;
    overflow: hidden;
    transition: .8s;
}
.container div img:hover{
    transform: scale(1.05);
    color: white;
    background-color: #FF6347;
    box-shadow: 0 0 1rem #FF7F50, 0 0 4rem #FF7F50, 0 0 8rem #FF7F50;
}

.link{
    color: black;
    text-decoration: none;
}

.container div button{
    margin-left: 1rem;
    border-radius: 5rem;
    margin-top: .5rem;
    width: 5rem;
    height: 2.2rem;
    background: linear-gradient(white, rgba(0, 0, 0, 0));
    border: transparent;
    overflow: hidden;
    transition: 300ms;
}
.container div button:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color: #FF4500;	
    box-shadow: 0 0 1rem #FF4500, 0 0 4rem #FF4500, 0 0 8rem #FF4500;
}